* {
  font-family: work_sansregular;
}

.navbar-text {
  color: rgb(250, 250, 250);
}

.navbar-brand {
  color: rgb(250, 250, 250);
  font-family: lobsterregular;
  font-size: 1.5rem;
}

.navbar-brand:hover {
  color: rgb(250, 250, 250);
  font-family: lobsterregular;
}

.site-header-logo h1 {
  color: rgb(39, 147, 248);
  font-family: lobsterregular;
  font-size: 3rem;
  margin-top: 2rem;
}

.anchor-marker {
  width: 10px;
  height: 10px;
  background-color: red;
  border: 2px solid white;
  border-radius: 50%;
  z-index: 2;
}

.boat-marker {
  width: 20px;
  height: 20px;
  background-color: blue;
  border: 2px solid white;
  border-radius: 50%;
  z-index: 3;
}

.relevant-position-marker {
  width: 5px;
  height: 5px;
  background-color: yellow;
  border: 0px solid white;
  border-radius: 50%;
  z-index: 1;
}

.bi-clock {
    color: white;
}

.bi-bootstrap-reboot {
    color: white;
}