[DEFAULT]

# machine ID that will be the channel prefix
machine=

# location of the JSON file containing the settings
settings_file:settings.json

# particle mass [eV/u]
flame_particle_mass:931.49432e6
# initial energy [eV/u]
flame_initial_energy:200.0e6
# charge states (q/m)
flame_charge:0.3571013259515177
# particles per charge states
flame_count:1
# initial envelope position data file
flame_initial_position_file:flame_data/position.txt
# initial envelope parameters data file
flame_initial_envelope_file:flame_data/envelope.txt

# location of directory containing FLAME data
flame_data_dir:/etc/flame/cavity_data

[LatticeFile]

# diameter for rows in the XLF that do not have a diameter specified
# the diameter must be specified in the units as the XLF [mm]
xlf_diameter:40.0

# specify the format of the layout data file
layout_type:XLF

# location of the XLSX file containing the FRIB Expanded Lattice File (XLF)
xlf_data_file:../../ASD_Lattice_File/FRIB_ES_LatticeFile_F2_20220112.xlsx

layout_sheet_name = Lattice_ARR07
layout_sheet_start = 8
layout_system_idx = 0
layout_subsystem_idx = 1
layout_device_idx = 2
layout_position_idx = 3
layout_name_idx = 4
layout_device_type_idx = 5
layout_element_name_idx = 6
layout_diameter_idx = 7
layout_effective_length_idx = 10
layout_center_position_idx = 17

device_mapping = QVE: QE, QHE: QE

[SEXT_FSQ2]
drift_mask:True

[OCT_FSQ2]
drift_mask:True

[SEXT_FSQ5]
drift_mask:True

[OCT_FSQ5]
drift_mask:True

[SEXT_FSQ7]
drift_mask:True

[OCT_FSQ7]
drift_mask:True

[SEXT_FSQ8]
drift_mask:True

[OCT_FSQ8]
drift_mask:True

[SEXT_FSQ9]
drift_mask:True

[OCT_FSQ9]
drift_mask:True

[SEXT_FSQ10]
drift_mask:True

[OCT_FSQ10]
drift_mask:True

[BEND_FSD1]
flame_split:5

[BEND_FSD2]
flame_split:5

[QUAD_FSQ1]
length:0.623673

[QUAD_FSQ2]
length:0.798

[QUAD_FSQ5]
length:0.820888

[QUAD_FSQ7]
length:0.705757

[QUAD_FSQ8]
length:0.873737

[QUAD_FSQ9]
length:0.629436

[QUAD_FSQ10]
length:0.819979

[FS_F1S1:Q_D1013]
#overwrite alignment error
align_dx: 0.0
align_dy: 0.0
align_pitch: 0
align_roll: 0
align_yaw: 0
