[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "commit_msg_git_hook"
version = "0.0.2"
authors = [
  { name="Lucio Meira David", email="lucio.meira@om30.com.br" },
]
description = "A set of tools to validate conventional commit messages."
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Version Control :: Git",
]
keywords = ["commit-msg", "git", "git-hook", "git hook", "scan", "ci"]

[project.urls]
"Homepage" = "https://github.com/pypa/sampleproject"
"Bug Tracker" = "https://github.com/pypa/sampleproject/issues"